{% extends "base.html" %}

{% block title %}Expenses{% endblock %}

{% block head_inc %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	
	//if no errors in form work slickbox magic
	if ($('ul.errorlist').length == 0) {
	 	$('#add_new_box').hide();
		$('a#add_new_btn').click(function() {
			$('#add_new_box').toggle(400);
			return false;
		});
	}
});

</script>

{% endblock %}

{% block content %}

<h1>Expenses Page</h1>

<div class="object_add">
<h2><a id="add_new_btn" href="#">Add a new expense</a></h2>
<div id="add_new_box">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form action="/expense/" method="POST">
	{{ form.as_p }}
	<input type="submit" value="Submit" />
	</form>
</div><!-- end #add_new_box -->
</div><!-- end .object_add -->

<div class="objects_box">

<h2>All Expenses</h2>
{% if all_objects %}
<table class="objects_table" width="100%">
	<thead>
		<tr>
			<th>ID</th>
			<th>Purchase Date</th>
			<th>Purchased By</th>
			<th>Client</th>
			<th>Project</th>
			<th>Vendor</th>
			<th>Description</th>
			<th>Est. Amount</th>
			<th>True Amount</th>
			<th>Billable Amount</th>
			<th>PO Num.</th>
			<th>Client PO</th>
		</tr>
	</thead>
	<tbody>
    {% for object in all_objects %}
        <tr>
        	<td><a href="/time/{{object.id}}/">Edit</a></td>
        	<td>{{ object.purchase_date }}</td>
        	<td>{{ object.purchased_by }}</td>
        	<td>{{ object.client }}</td>
        	<td>{{ object.project }}</td>
        	<td>{{ object.vendor }}</td>
        	<td>{{ object.descrip }}</td>
        	<td>{{ object.est_amount }}</td>
        	<td>{{ object.true_amount }}</td>
        	<td>{{ object.bill_amount }}</td>
        	<td>{{ object.po_num }}</td>
        	<td>{{ object.client_po }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}

    <p>No expenses are available.</p>
{% endif %}

</div><!-- end .objects_box -->
{% endblock %}



