{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block head_inc %}
<link type="text/css" href="{{MEDIA_URL}}css/cupertino/jquery-ui-1.7.2.custom.css" rel="stylesheet" />	

<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.validate/1.5.5/jquery.validate.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
	
	//if no errors in form work slickbox magic on page load
	if ($('ul.errorlist').length == 0) {
	 	$('#add_new_box').hide();
		$('a#add_new_btn').click(function() {
			$('#add_new_box').toggle(400);
			return false;
		});
	}

	// ajax functions
	$.ajaxSetup ({
		cache: false
	});
	var ajax_load = "<img src='{{MEDIA_URL}}img/ajax-loader.gif' alt='loading...' />";
	var loadUrl = "http://127.0.0.1:8000/project/edit/";

	$(".edit").click(function(){  
		var this_project = $(this).attr('id');
		var to_replace = $(this).closest('div.row_wrapper');
		to_replace.html(ajax_load).load(loadUrl, {projectId: this_project});  
	});
	
	// init accordion
	$(function(){
		$("#accordion").accordion({ header: "div.header" });				
	});
	
	// form validation
	$("#newproject_form").validate();

});


</script>

{% endblock %}

{% block content %}

<h1>Projects Page</h1>

<div id="object_add">
	<h2><a id="add_new_btn" href="#">Add a new project</a></h2>
<!--  no sorting yet
	<div class="sorting">
		<form method="POST" action="/project/view/"  name="sort_form" id="sort_form">
			<select name="sort_by">
				<option value="client">Client</option>
				<option value="title">Title</option>
				<option value="category">Category</option>
			</select>
			<input type="submit" value="Sort results" />
		</form>
	</div>
-->
	<div id="add_new_box">	
		
		<form id="newproject_form" action="/project/create/" method="POST">

			<div class="item">
				<label for="id_client">Client:</label>
				{{ form.client }}
				{{form.client.errors}}
			</div>
<!-- created serverside
			<div class="item" id="item_projectId">			
				<label for="id_projectId">Project ID:</label>
				{{ form.projectId }}
				{{form.projectId.errors}}
			</div>				
-->
			<div class="item">
				<label for="id_title">Project Title:</label>
				{{ form.title }}
				{{form.title.errors}}
			</div>	

			<div class="item">
				<div class="subitem">
					<label for="id_category">Category:</label>
					{{ form.category }}
					{{form.category.errors}}
				</div>	
				<div class="subitem">
					<label for="id_status">Status:</label>
					{{ form.status }}
					{{form.status.errors}}
				</div>	
				<div class="subitem">
					<label for="id_est_time">Est. Time:</label>
					{{ form.est_time }}
					{{form.est_time.errors}}
				</div>
			</div>				
	
			<div class="item">
				<label for="id_notes">Notes:</label>
				{{ form.notes }}
				{{form.notes.errors}}
			</div>	

			<div class="item">
				<input type="submit" value="Submit" />
			</div>	

		</form>
	</div><!-- end #add_new_box -->
	
</div><!-- end #object_add -->

<div class="objects_box">

<table class="objects_table" width="100%" border="0" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<th width="29%">Project Title</th>
			<th width="20%">Client</th>
			<th width="10%">Est. Time</th>
			<th width="10%">Total Time</th>
			<th width="17%">Status</th>
		</tr>
	</thead>
</table>

{% if all_projects %}
<div id="accordion">
    {% for project in all_projects %}
    
    <!-- begin project -->
    <div class="row_wrapper" id="row_{{projectId}}">
        <div class="header">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-left:20px">
	        <tr>
	        	<td width="25%">{{ project.title }}</td> 
	        	<td width="20%">{{ project.client }}</td>
	        	<td width="10%">{{ project.est_time }}</td>
	        	<td width="10%">{{ project.total_time }}</td>
	        	<td width="17%">{{ project.status }}</td>
	        </tr>        
        </table>        
        </div><!-- end .header -->
        
        <div class="panel">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
	        <tr>
	        	<td width="53%">Notes: {{ project.notes }}</td>
	        	<td width="14%">Category: {{ project.category }}</td>
	        	<td width="14%">Project ID: {{ project.projectId }}</td>	        	        	
	        	<td width="19%" class="edit" id="{{project.projectId}}"><a href="#">Edit</a></td>

			</tr>
		</table>
        </div><!-- end .panel -->
    </div><!-- end .row_wrapper -->  

    {% endfor %}
</div><!-- end #accordion -->
{% else %}
    <p>No projects are available.</p>
{% endif %}

</div><!-- end .objects_box -->
{% endblock %}



