{% extends "base.html" %}

{% block title %}My to the dashboard{% endblock %}

{% block head_inc %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	
	//if no errors in form work slickbox magic
	if ($('ul.errorlist').length == 0) {
	
	 	$('.add_new_box').hide();
		
		$('.add_new_btn').click(function() {
			$(this).next().slideToggle(600);		
		});
	}
});

</script>

{% endblock %}

{% block content %}

<h1>Welcome to the homepage.</h1>

<div class="object_add">
<h2 class="add_new_btn"><a href="#">Add a new project</a></h2>
<div class="add_new_box">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form action="/project/" method="POST">
	{{ project_form.as_p }}
	<input type="submit" value="Submit" />
	</form>
</div><!-- end #add_new_box -->
</div><!-- end .object_add -->

<div class="object_add">
<h2 class="add_new_btn"><a href="#">Add a new company</a></h2>
<div class="add_new_box">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form action="/company/" method="POST">
	{{ company_form.as_p }}
	<input type="submit" value="Submit" />
	</form>
</div><!-- end #add_new_box -->
</div><!-- end .object_add -->

<div class="object_add">
<h2 class="add_new_btn"><a href="#">Add a new person</a></h2>
<div class="add_new_box">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form action="/person/" method="POST">
	{{ person_form.as_p }}
	<input type="submit" value="Submit" />
	</form>
</div><!-- end #add_new_box -->
</div><!-- end .object_add -->


<div class="object_add">
<h2 class="add_new_btn"><a href="#">Add a new time</a></h2>
<div class="add_new_box">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form action="/time/" method="POST">
	{{ time_form.as_p }}
	<input type="submit" value="Submit" />
	</form>
</div><!-- end #add_new_box -->
</div><!-- end .object_add -->

<div class="object_add">
<h2 class="add_new_btn"><a href="#">Add a new expense</a></h2>
<div class="add_new_box">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form action="/expense/" method="POST">
	{{ expense_form.as_p }}
	<input type="submit" value="Submit" />
	</form>
</div><!-- end #add_new_box -->
</div><!-- end .object_add -->


<div class="object_add">
<h2 class="add_new_btn"><a href="#">Add a new invoice</a></h2>
<div class="add_new_box">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form action="/invoice/" method="POST">
	{{ invoice_form.as_p }}
	<input type="submit" value="Submit" />
	</form>
</div><!-- end #add_new_box -->
</div><!-- end .object_add -->


{% endblock %}



